html {
  display: flex;

  background-color: #2c3034;
  background-repeat: no-repeat;
  background-size: cover;
}

.info {
  width: 450px;
  height: 300px;
  margin-left: 5px;
  margin-bottom: 5px;
  border: 1px solid #fadf7f;

  color: #faf0bf;
  background-color: #404b56;
  opacity: 0;

  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  text-align: center;

  transition: 1s;
}
.info:hover {
  opacity: 0.9;
}
.thor {
  width: 450px;
  height: 300px;
  border: 1px solid #faf0bf;
  margin-left: 5px;
  margin-bottom: 5px;
}

#heading1 {
  align-content: center;

  color: #faf0bf;

  text-align: center;
}

#container1 {
  position: absolute;

  width: 1500px;
  height: 800px;
  margin-top: 20px;
  margin-left: 50px;

  background-repeat: no-repeat;
  background-size: cover;
}
#container2 {
  display: flex;
  flex-direction: column;

  width: 1500px;
  height: 700px;
}
#cotainerInfo {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 60px;

  cursor: pointer;
}

#buttonContainer {
  position: relative;
  display: flex;
  justify-content: center;

  margin-top: 10px;
}

#allThor {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 10px;
}

#nextPage {
  padding: 11px 23px;
  border: 1px solid #566963;
  border-radius: 5px;

  color: #faf0bf;
  background-color: #768d87;

  font-family: Arial;
  font-size: 15px;
  font-weight: bold;

  cursor: pointer;
}
#nextPage:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}
