/* -------------------------------------------------------------------------------------------------------------- */
/* BASIC SETUP--------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #2c3034;
  color: #faf0bf;
  font-family: "Bangers", cursive, Arial;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* REUSABLE COMPONENTS------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* HEADINGS           ------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */

h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  color: #faf0bf;
  font-size: 200%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2:after {
  display: block;
  width: 100px;
  height: 2px;
  background-color: floralwhite;
  content: " ";
  margin: 0 auto;
  margin-bottom: 30px;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* Paragraph--------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

/* Christian TEMP */
.movieBox {
  width: 300px;
  height: 60px;
  padding: 20px;
  border-bottom: 2px solid #2c3034;

  background-color: #404b56;

  font-weight: 100;
  text-align: center;

  transition: width 0.5s ease-in 0s, height 0.5s ease-in 0s;
}

.movieBox:hover {
  width: 100%;
  height: 430px;
}

.movieContainer {
  position: relative;
  display: grid;
  grid-template: 45% 10% 45% / auto auto auto auto auto;

  opacity: 0;

  font-size: 89%;

  transition: opacity 0s ease-in 0s;
}

.movieBox:hover .movieContainer {
  opacity: 1;

  transition: opacity 0.5s ease-in 0.5s;
}

.movieContainer h3:after {
  display: block;

  width: 200px;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 30px;

  background-color: #faf0bf;

  content: " ";
}

.movieItem {
  display: none;

  margin: 3px;
}

.movieBox:hover .movieItem {
  display: grid;
}

p.movieItem {
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;

  text-align: left;
}

img.movieItem {
  grid-row: 1 / span 3;
  grid-column: 5 / span 1;

  width: 250px;
  height: 350px;
}

h3.imdb {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}

h3.mc {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

h3.rt {
  grid-row: 2 / span 1;
  grid-column: 3 / span 2;
}

#imdb1 {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;

  width: 20px;
  height: 20px;
  border: 1px solid red;
  margin: auto;
}
#mc1 {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;

  width: 70px;
  height: 70px;
  margin: auto;

  font-size: 230%;
  line-height: 70px;
}
#mc1:before {
  background-color: #ffcc33;

  content: "57";
  animation-name: mc1Animation;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
#rttm1 {
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;

  width: 150px;
  height: 70px;
  color: black;
  border: 1px solid red;
  margin: auto;

  font-size: 150%;
  text-align: right;
}
#rttm1:before {
  content: "77%";
  animation-name: rttm1Animation;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
#rtas1 {
  grid-row: 3 / span 1;
  grid-column: 4 / span 1;

  width: 150px;
  height: 70px;
  color: black;
  border: 1px solid red;
  margin: auto;

  text-align: right;
  font-size: 150%;
}
#rtas1:before {
  content: "76%";
  animation-name: rtas1Animation;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

#imdb2 {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;

  width: 20px;
  height: 20px;
  border: 1px solid red;
  margin: auto;
}
#mc2 {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;

  width: 70px;
  height: 70px;
  margin: auto;

  font-size: 230%;
  line-height: 70px;
}
#mc2:before {
  background-color: #ffcc33;

  content: "54";
  animation-name: mc2Animation;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
#rttm2 {
  width: 20px;
  height: 20px;
  border: 1px solid red;
  margin: auto;
}
#rtas2 {
  grid-row: 3 / span 1;
  grid-column: 4 / span 1;

  width: 20px;
  height: 20px;
  border: 1px solid red;
  margin: auto;
}

#imdb3 {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;

  width: 20px;
  height: 20px;
  border: 1px solid red;
  margin: auto;
}
#mc3 {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;

  width: 70px;
  height: 70px;
  margin: auto;

  font-size: 230%;
  line-height: 70px;
}
#mc3:before {
  background-color: #66cc33;

  content: "74";
  animation-name: mc3Animation;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
#rttm3 {
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;

  width: 20px;
  height: 20px;
  border: 1px solid red;
  margin: auto;
}
#rtas3 {
  grid-row: 3 / span 1;
  grid-column: 4 / span 1;

  width: 20px;
  height: 20px;
  border: 1px solid red;
  margin: auto;
}

img.upcomingMovie {
  grid-row: 1 / span 3;
  grid-column: 4 / span 3;
}

div.upcomingMovie {
  position: absolute;
  top: 120px;
  display: none;

  width: 100%;

  background-color: #cc0e1d4d;

  font-size: 120px;

  transform: rotate(-10deg);
}

.movieBox:hover .upcomingMovie {
  display: block;
}

@keyframes mc1Animation {
  0% {
    background-color: #ff0000;
    content: "0";
  }
  1% {
    content: "1";
  }
  3% {
    content: "2";
  }
  5% {
    content: "3";
  }
  7% {
    content: "4";
  }
  8% {
    content: "5";
  }
  10% {
    content: "6";
  }
  12% {
    content: "7";
  }
  14% {
    content: "8";
  }
  15% {
    content: "9";
  }
  17% {
    content: "10";
  }
  19% {
    content: "11";
  }
  21% {
    content: "12";
  }
  22% {
    content: "13";
  }
  24% {
    content: "14";
  }
  26% {
    content: "15";
  }
  28% {
    content: "16";
  }
  29% {
    content: "17";
  }
  31% {
    content: "18";
  }
  33% {
    content: "19";
  }
  35% {
    content: "20";
  }
  36% {
    content: "21";
  }
  38% {
    content: "22";
  }
  40% {
    content: "23";
  }
  42% {
    content: "24";
  }
  43% {
    content: "25";
  }
  45% {
    content: "26";
  }
  47% {
    content: "27";
  }
  49% {
    content: "28";
  }
  50% {
    content: "29";
  }
  52% {
    content: "30";
  }
  54% {
    content: "31";
  }
  56% {
    content: "32";
  }
  58% {
    content: "33";
  }
  59% {
    content: "34";
  }
  61% {
    content: "35";
  }
  63% {
    content: "36";
  }
  65% {
    content: "37";
  }
  66% {
    content: "38";
  }
  68% {
    content: "39";
  }
  70% {
    background-color: #ffcc33;
    content: "40";
  }
  72% {
    content: "41";
  }
  73% {
    content: "42";
  }
  75% {
    content: "43";
  }
  77% {
    content: "44";
  }
  79% {
    content: "45";
  }
  80% {
    content: "46";
  }
  82% {
    content: "47";
  }
  84% {
    content: "48";
  }
  86% {
    content: "49";
  }
  87% {
    content: "50";
  }
  89% {
    content: "51";
  }
  91% {
    content: "52";
  }
  93% {
    content: "53";
  }
  94% {
    content: "54";
  }
  96% {
    content: "55";
  }
  98% {
    content: "56";
  }
  100% {
    background-color: #ffcc33;
    content: "57";
  }
}
@keyframes mc2Animation {
  0% {
    background-color: #ff0000;
    content: "0";
  }
  1% {
    content: "1";
  }
  3% {
    content: "2";
  }
  5% {
    content: "3";
  }
  7% {
    content: "4";
  }
  9% {
    content: "5";
  }
  11% {
    content: "6";
  }
  13% {
    content: "7";
  }
  14% {
    content: "8";
  }
  16% {
    content: "9";
  }
  18% {
    content: "10";
  }
  20% {
    content: "11";
  }
  22% {
    content: "12";
  }
  24% {
    content: "13";
  }
  25% {
    content: "14";
  }
  27% {
    content: "15";
  }
  29% {
    content: "16";
  }
  31% {
    content: "17";
  }
  33% {
    content: "18";
  }
  35% {
    content: "19";
  }
  37% {
    content: "20";
  }
  38% {
    content: "21";
  }
  40% {
    content: "22";
  }
  42% {
    content: "23";
  }
  44% {
    content: "24";
  }
  46% {
    content: "25";
  }
  48% {
    content: "26";
  }
  50% {
    content: "27";
  }
  51% {
    content: "28";
  }
  53% {
    content: "29";
  }
  55% {
    content: "30";
  }
  57% {
    content: "31";
  }
  59% {
    content: "32";
  }
  61% {
    content: "33";
  }
  63% {
    content: "34";
  }
  64% {
    content: "35";
  }
  66% {
    content: "36";
  }
  68% {
    content: "37";
  }
  70% {
    content: "38";
  }
  72% {
    content: "39";
  }
  74% {
    background-color: #ffcc33;
    content: "40";
  }
  75% {
    content: "41";
  }
  77% {
    content: "42";
  }
  79% {
    content: "43";
  }
  81% {
    content: "44";
  }
  83% {
    content: "45";
  }
  85% {
    content: "46";
  }
  87% {
    content: "47";
  }
  88% {
    content: "48";
  }
  90% {
    content: "49";
  }
  92% {
    content: "50";
  }
  94% {
    content: "51";
  }
  96% {
    content: "52";
  }
  98% {
    content: "53";
  }
  100% {
    background-color: #ffcc33;
    content: "54";
  }
}
@keyframes mc3Animation {
  0% {
    background-color: #ff0000;
    content: "0";
  }
  1% {
    content: "1";
  }
  3% {
    content: "2";
  }
  4% {
    content: "3";
  }
  5% {
    content: "4";
  }
  7% {
    content: "5";
  }
  8% {
    content: "6";
  }
  9% {
    content: "7";
  }
  11% {
    content: "8";
  }
  12% {
    content: "9";
  }
  13% {
    content: "10";
  }
  15% {
    content: "11";
  }
  16% {
    content: "12";
  }
  17% {
    content: "13";
  }
  19% {
    content: "14";
  }
  20% {
    content: "15";
  }
  21% {
    content: "16";
  }
  23% {
    content: "17";
  }
  24% {
    content: "18";
  }
  25% {
    content: "19";
  }
  27% {
    content: "20";
  }
  28% {
    content: "21";
  }
  30% {
    content: "22";
  }
  31% {
    content: "23";
  }
  32% {
    content: "24";
  }
  34% {
    content: "25";
  }
  35% {
    content: "26";
  }
  36% {
    content: "27";
  }
  38% {
    content: "28";
  }
  39% {
    content: "29";
  }
  40% {
    content: "30";
  }
  42% {
    content: "31";
  }
  43% {
    content: "32";
  }
  44% {
    content: "33";
  }
  46% {
    content: "34";
  }
  47% {
    content: "35";
  }
  48% {
    content: "36";
  }
  50% {
    content: "37";
  }
  51% {
    content: "38";
  }
  53% {
    content: "39";
  }
  54% {
    background-color: #ffcc33;
    content: "40";
  }
  55% {
    content: "41";
  }
  57% {
    content: "42";
  }
  58% {
    content: "43";
  }
  59% {
    content: "44";
  }
  61% {
    content: "45";
  }
  62% {
    content: "46";
  }
  63% {
    content: "47";
  }
  65% {
    content: "48";
  }
  66% {
    content: "49";
  }
  67% {
    content: "50";
  }
  69% {
    content: "51";
  }
  70% {
    content: "52";
  }
  71% {
    content: "53";
  }
  73% {
    content: "54";
  }
  74% {
    content: "55";
  }
  75% {
    content: "56";
  }
  77% {
    content: "57";
  }
  78% {
    content: "58";
  }
  80% {
    content: "59";
  }
  81% {
    content: "60";
  }
  82% {
    background-color: #66cc33;
    content: "61";
  }
  84% {
    content: "62";
  }
  85% {
    content: "63";
  }
  86% {
    content: "64";
  }
  88% {
    content: "65";
  }
  89% {
    content: "66";
  }
  90% {
    content: "67";
  }
  92% {
    content: "68";
  }
  93% {
    content: "69";
  }
  94% {
    content: "70";
  }
  96% {
    content: "71";
  }
  97% {
    content: "72";
  }
  98% {
    content: "73";
  }
  100% {
    background-color: #66cc33;
    content: "74";
  }
}
@keyframes mc3Animation {
  0% {
    background-color: #ff0000;
    content: "0";
  }
  1% {
    content: "1";
  }
  3% {
    content: "2";
  }
  4% {
    content: "3";
  }
  5% {
    content: "4";
  }
  7% {
    content: "5";
  }
  8% {
    content: "6";
  }
  9% {
    content: "7";
  }
  11% {
    content: "8";
  }
  12% {
    content: "9";
  }
  13% {
    content: "10";
  }
  15% {
    content: "11";
  }
  16% {
    content: "12";
  }
  17% {
    content: "13";
  }
  19% {
    content: "14";
  }
  20% {
    content: "15";
  }
  21% {
    content: "16";
  }
  23% {
    content: "17";
  }
  24% {
    content: "18";
  }
  25% {
    content: "19";
  }
  27% {
    content: "20";
  }
  28% {
    content: "21";
  }
  30% {
    content: "22";
  }
  31% {
    content: "23";
  }
  32% {
    content: "24";
  }
  34% {
    content: "25";
  }
  35% {
    content: "26";
  }
  36% {
    content: "27";
  }
  38% {
    content: "28";
  }
  39% {
    content: "29";
  }
  40% {
    content: "30";
  }
  42% {
    content: "31";
  }
  43% {
    content: "32";
  }
  44% {
    content: "33";
  }
  46% {
    content: "34";
  }
  47% {
    content: "35";
  }
  48% {
    content: "36";
  }
  50% {
    content: "37";
  }
  51% {
    content: "38";
  }
  53% {
    content: "39";
  }
  54% {
    background-color: #ffcc33;
    content: "40";
  }
  55% {
    content: "41";
  }
  57% {
    content: "42";
  }
  58% {
    content: "43";
  }
  59% {
    content: "44";
  }
  61% {
    content: "45";
  }
  62% {
    content: "46";
  }
  63% {
    content: "47";
  }
  65% {
    content: "48";
  }
  66% {
    content: "49";
  }
  67% {
    content: "50";
  }
  69% {
    content: "51";
  }
  70% {
    content: "52";
  }
  71% {
    content: "53";
  }
  73% {
    content: "54";
  }
  74% {
    content: "55";
  }
  75% {
    content: "56";
  }
  77% {
    content: "57";
  }
  78% {
    content: "58";
  }
  80% {
    content: "59";
  }
  81% {
    content: "60";
  }
  82% {
    content: "61";
  }
  84% {
    content: "62";
  }
  85% {
    content: "63";
  }
  86% {
    content: "64";
  }
  88% {
    content: "65";
  }
  89% {
    content: "66";
  }
  90% {
    content: "67";
  }
  92% {
    content: "68";
  }
  93% {
    content: "69";
  }
  94% {
    content: "70";
  }
  96% {
    content: "71";
  }
  97% {
    content: "72";
  }
  98% {
    content: "73";
  }
  100% {
    content: "74";
  }
}
