/* -------------------------------------------------------------------------------------------------------------- */
/* BASIC SETUP--------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #2c3034;
  color: #faf0bf;
  font-family: "Bangers", cursive, Arial;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* REUSABLE COMPONENTS------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* HEADINGS           ------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */

h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 200%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2:after {
  display: block;
  width: 100px;
  height: 2px;
  background-color: floralwhite;
  content: " ";
  margin: 0 auto;
  margin-bottom: 30px;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* Paragraph--------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

/* Christian TEMP */
.movie-box {
  width: 300px;
  height: 60px;
  font-weight: 100;
  background-color: #404b56;
  padding: 20px;
  border-bottom: 2px solid #2c3034;

  text-align: center;

  transition: width 0.5s ease-in 0s, height 0.5s ease-in 0s;
}

.movie-box:hover {
  width: 100%;
  height: 430px;
}

.movie-container {
  position: relative;
  display: grid;
  opacity: 0;
  font-size: 89%;

  grid-template: 40% 10% 10% 40% / auto auto auto auto;

  transition: opacity 0s ease-in 0s;
}

.movie-box:hover .movie-container {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.5s;
}

.movie-item {
  display: none;
  margin: 3px;
}

.movie-box:hover .movie-item {
  display: grid;
}

p.movie-item {
  text-align: left;
  grid-row: 1 / span 1;
  grid-column: 1 / span 3;
}

img.movie-item {
  grid-row: 1 / span 4;
  grid-column: 4 / span 1;
  width: 250px;
  height: 350px;
}

h3.ratings {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
}

.imdb {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}

.mc {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
}

.rt {
  grid-row: 3 / span 1;
  grid-column: 3 / span 1;
}

#imdb1 {
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
}

#mc1 {
  line-height: 70px;
  width: 70px;
  height: 70px;
  margin: auto;
  font-size: 230%;
  /*#fadf7f;*/

  grid-row: 4 / span 1;
  grid-column: 2 / span 1;
}
#mc1:before {
  content: "57";
  background-color: #ffff00;
  animation-name: mc1Animation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@keyframes mc1Animation {
  0% {
    background-color: #ff0000;
    content: "0";
  }
  1% {
    content: "1";
  }
  3% {
    content: "2";
  }
  5% {
    content: "3";
  }
  7% {
    content: "4";
  }
  8% {
    content: "5";
  }
  9% {
    content: "5";
  }
  10% {
    content: "6";
  }
  12% {
    content: "7";
  }
  14% {
    content: "8";
  }
  15% {
    content: "9";
  }
  17% {
    content: "10";
  }
  19% {
    content: "11";
  }
  21% {
    content: "12";
  }
  22% {
    content: "13";
  }
  24% {
    content: "14";
  }
  26% {
    content: "15";
  }
  28% {
    content: "16";
  }
  29% {
    content: "17";
  }
  31% {
    content: "18";
  }
  33% {
    content: "19";
  }
  35% {
    content: "20";
  }
  36% {
    content: "21";
  }
  38% {
    content: "22";
  }
  40% {
    content: "23";
  }
  42% {
    content: "24";
  }
  43% {
    content: "25";
  }
  45% {
    content: "26.22";
  }
  47% {
    content: "27";
  }
  100% {
    background-color: #ffff00;
    content: "57";
  }
}

#rt1 {
  padding: 5px;
  grid-row: 4 / span 1;
  grid-column: 3 / span 1;
}

.movie-item h3 {
  position: relative;
}

img.upcoming-movie {
  grid-row: 1 / span 3;
  grid-column: 3 / span 1;
}

div.upcoming-movie {
  display: none;
  position: absolute;
  width: 100%;
  font-size: 120px;
  top: 120px;
  background-color: #cc0e1d4d;
  transform: rotate(-10deg);
}

.movie-box:hover .upcoming-movie {
  display: block;
}
