/* -------------------------------------------------------------------------------------------------------------- */
/* BASIC SETUP--------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #2c3034;
  color: #faf0bf;
  font-family: "Bangers", cursive, Arial;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* REUSABLE COMPONENTS------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* HEADINGS           ------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */

h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 200%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2:after {
  display: block;
  width: 100px;
  height: 2px;
  background-color: floralwhite;
  content: " ";
  margin: 0 auto;
  margin-bottom: 30px;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* Paragraph--------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

/* Christian TEMP */
.movie-box {
  width: 300px;
  height: 60px;
  font-weight: 100;
  background-color: #404b56;
  padding: 20px;
  border-bottom: 2px solid #2c3034;

  text-align: center;

  transition: width 0.5s ease-in 0s, height 0.5s ease-in 0s;
}

.movie-box:hover {
  width: 100%;
  height: 430px;
}

.movie-container {
  position: relative;
  display: grid;
  opacity: 0;
  font-size: 16px;
  text-align: left;

  grid-template: auto auto / auto auto;

  transition: opacity 0s ease-in 0s;
}

.movie-box:hover .movie-container {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.5s;
}

.movie-item {
  display: none;
  margin: 3px;
}

.movie-box:hover .movie-item {
  display: grid;
}

p.movie-item {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

img.movie-item {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  width: 250px;
  height: 350px;
}

.upcoming-movie {
  display: none;
  position: absolute;
  width: 100%;
  font-size: 120px;
  text-align: center;
  top: 120px;
  background-color: #cc0e1d4d;
  transform: rotate(-10deg);
}

.movie-box:hover .upcoming-movie {
  display: block;
}

.rating-container {
  display: grid;
  grid-template: auto auto / auto auto;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}
